table {
    border: solid 1px #DDEEEE;
    width: 100%;
}

th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
}

td {
    border: solid 1px #DDEEEE;
    padding: 10px;
    text-align: center;
}

.title {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 5px;
}

.loader {
	display: none;
	color: red;
}

#create-room-container {
	display: none;
	text-align: center;
}

.form-input {
    background: #fafafa;
    border: 1px solid lightgrey;
    padding: 12px;
    width: 18%;
}

.form-group {
    margin-bottom: 1rem;
}

.form-button {
    background: #DDEFEF;
    border: 1px solid lightgrey;
    color: black;
    padding: 12px;
    width: 20%;
}

.buttons-container {
	padding-top: 10px;
	text-align: center;
}